.App {
  text-align: center;
}

.App-header {
  background-color: #727272;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
